.popup_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  .popup_content-info {
    margin: 0 0 25px 0;
    width: 100%;
    color: #000;
    font-weight: 600;
    border-radius: 15px;
    background: #fff;
    border: none;
    padding: 10px;
    box-shadow: 0 0 2px 0px #000;
    transition: 0.3s;
    &:active {
      transition: 0.3s;
      background: #cfdeff;
      box-shadow: 0 0 4px 0px #000;
    }
  }
  .popup_content-btns {
    width: 100%;
    .main-btn:first-child {
      margin-bottom: 20px;
    }
  }
}
