<div class="popup popup_confirm">

  <div class="popup_overlay"></div>
  <div class="popup_scroll-container">
    <div class="popup_body">
      <div class="popup_content">

        <div class="popup_content-info" *ngIf="title.length">
          <div class="popup_content-title">{{title}}</div>
        </div>
        <div class="popup_content-btns">

          <button class="main-btn" (click)="confirm()">
            {{confirmBtn}}
          </button>

          <button class="main-btn" (click)="closeModal()">
            {{closeBtn}}
          </button>

        </div>

      </div>
    </div>
  </div>
</div>
