<app-header
  [title]="'Профиль'"
  [back]=true
  >
</app-header>

<ion-content>

  <div class="loading-container" *ngIf="loading">
    <div class="loading-spinner"></div>
  </div>

  <div class="content" *ngIf="!loading">

    <div class="profile-top">
      <div class="avatar" [class.round]="userService.user?.viewsRoundAvatar === '1'">
        <img [src]="userService.user?.avatar ? userService.user?.avatar : avatar" alt="">
      </div>
      <div class="profile-top-info">
        <div class="profile-top-item">{{userService.user?.username ? userService.user?.username : 'нет данных...'}}</div>
        <div class="profile-top-item">{{userService.user?.email ? userService.user?.email : 'нет данных...'}}</div>
      </div>
    </div>

    <div class="profile-bottom">

      <div class="profile-bottom-item" (click)="goTo('profile/recipes')">
        <div>Мои рецепты</div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="profile-bottom-item" (click)="goTo('blank')">
        <div>Изранное</div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="profile-bottom-item" (click)="goTo('blank')">
        <div>Рейтинг</div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="profile-bottom-item" (click)="goTo('profile/settings')">
        <div>Настройки</div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

    </div>

    <div class="bottom_btn">

      <button
        (click)="logout()"
        [disabled]="false"
        type="submit"
        class="main-btn out-profile"
      >
        Выйти из профиля
      </button>

    </div>

  </div>

</ion-content>
