<app-header
  [title]="'Настройки'"
  [back]=true
  >
</app-header>

<div class="loading-container" *ngIf="appService.loading">
  <div class="loading-spinner"></div>
</div>

<ion-content>

  <div class="content">

    <div class="profile-settings">

      <div class="avatar-wrapper">

        <ion-icon name="trash-outline" (click)="removeAvatar()"></ion-icon>

        <div class="avatar" [class.round]="viewsRoundAvatar">
          <img [src]="avatar" alt="">
        </div>

        <ion-icon name="create-outline" (click)="openModal()" ></ion-icon>

      </div>

      <div class="avatar-settings">
        <ion-item class="avatar-settings-item" lines="none">
          <ion-checkbox [checked]="userService.viewsRoundAvatar" (ionChange)="changeViewAvatar($event)" slot="start"></ion-checkbox>
          <div>Круглый аватар</div>
        </ion-item>
      </div>


      <form [formGroup]="profileForm" class="profile-form">

        <ion-item fill="solid">
          <ion-label position="floating">Имя</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
          <ion-note slot="error">это обязательное поле</ion-note>
        </ion-item>

        <ion-item fill="solid">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <ion-note slot="error">проверьте правильность введённых данных</ion-note>
        </ion-item>

      </form>

    </div>

  </div>

  <div class="bottom_btn">

    <button
      (click)="submit()"
      [disabled]="profileForm.invalid"
      type="submit"
      class="main-btn"
    >
      Сохранить
    </button>

  </div>

</ion-content>

<div class="modal-window" [class.active]="modalWindow">
  <div class="modal-wrapper" (click)="closeModal()">
    <div class="modal-content">
      <button class="main-btn" (click)="changeAvatar()">
        Выбрать фото
        <input
            (change)="uploadAvatar(false, $event)"
            #input
            type="file"
            accept="image/jpeg,image/png"
            style="display: none">
      </button>
      <button class="main-btn" (click)="closeModal()">Отмена</button>
    </div>
  </div>
</div>

<div class="cropper" *ngIf="isFileLoad">
  <div class="cropper__image">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [imageBase64]="imageChangedBase64"
      [aspectRatio]="1 / 1"
      (loadImageFailed)="loadImageFailed()"
      (imageCropped)="imageCropped($event)"
      [roundCropper]="true"
      [hideResizeSquares]="false"
      [backgroundColor]="'#000'"
    ></image-cropper>
  </div>

</div>

<ion-icon *ngIf="isFileLoad" class="save-img" name="checkmark-circle-outline" (click)="saveNewImg(cropperImageReady)"></ion-icon>
