ion-checkbox {
  --size: 20px;
  --background-checked: #484848;
}

ion-checkbox::part(container) {
  border-radius: 50px;
  border: 2px solid #484848;
}

.profile-settings {
  display: flex;
  flex-direction: column;
  .avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      width: 30px;
      height: 30px;
    }
    .avatar {
      height: 100px;
      width: 100px;
      position: relative;
      margin: 0 20px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 2px 2px rgb(151 151 151 / 25%);
      transition: 0.3s;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .avatar.round {
      border-radius: 50%;
    }
  }

  .avatar-settings {
    margin-top: 15px;
    .avatar-settings-item {
      margin-bottom: 10px;
      .avatar-settings-item-info {

      }
      .avatar-settings-item-toggle {

      }
    }
  }


  .profile-form {
    padding: 0 20px 0 0;
    ion-item {
      min-height: 105px;
      ion-input {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .item-native {
      padding-inline-start: 0px;
    }
  }
}

.out-profile {
  border: none;
  color: #fff;
  background: #757F9A;
  width: auto;
}

.modal-window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
  .modal-wrapper {
    position: relative;
    background-color: rgba(#757F9A, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    .modal-content {
      position: absolute;
      bottom: -225px;
      padding: 0 15px;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
      button:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.modal-window.active {
  opacity: 1;
  visibility: visible;
  .modal-wrapper {
    opacity: 1;
    visibility: visible;
    .modal-content {
      opacity: 1;
      visibility: visible;
      bottom: 25px;
    }
  }
}

// TODO в будущем перенести в header
.save-img {
  position: fixed;
  top: 10px;
  bottom: 30px;
  right: 15px;
  height: 30px;
  width: 30px;
  z-index: 1000;
}

.cropper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 0;
  background: #fff;
  z-index: 5;
  image-cropper {
    padding: 0 !important;
  }
}
