<app-header
  [title]="isFileLoad ? 'Редактирование фото' : 'Новый рецепт'"
  [back]=true
  >
</app-header>

<div class="loading-container" *ngIf="loading">
  <div class="loading-spinner"></div>
</div>


<ion-content>

  <div class="content" *ngIf="!loading">

    <div class="create-dish" *ngIf="!dishWasCreated">

      <div class="img-wrapper">

        <div class="img-header">

          <button class="main-btn" (click)="changeImg()">
            Выбрать фото
            <input
              (change)="uploadImg(false, $event)"
              #input
              type="file"
              accept="image/jpeg,image/png"
              style="display: none;">
          </button>
        </div>

        <div class="images">
          <div class="img load-img" [class.empty-photo]="!images.length" (click)="changeImg()">
            <img [src]="imgLoad" alt="">
          </div>

          <div class="img" *ngFor="let img of images; index as index">
            <ion-icon name="trash-outline" (click)="removeImg(index)"></ion-icon>
            <img [src]="img" alt="">
          </div>

        </div>

        <small>{{errorFormat}}</small>

      </div>

      <form [formGroup]="newDishForm">

        <div class="form-group pt-4">

          <div class="input-field">
            <span class="fa fa-video-camera p-2"></span>
            <input formControlName="video" type="text" placeholder="Ссылка на видео из ютуба">
          </div>
        </div>

        <div class="form-group pt-4">

          <div class="input-field"
               [class.error]="newDishForm.controls['name'].dirty &&
                       newDishForm.hasError('required', 'name')">
            <span class="fa fa-pencil p-2"></span>
            <input formControlName="name" type="text" placeholder="Название блюда">
          </div>

          <small
            *ngIf="newDishForm.controls['name'].dirty &&
                    newDishForm.hasError('required', 'name')"
            class="text-danger">
            это обязательное поле
          </small>

        </div>

        <div class="form-group pt-4">

          <div class="input-field"
               [class.error]="newDishForm.controls['desc'].dirty &&
                       newDishForm.hasError('required', 'desc')">
            <span class="fa fa-file-text p-2"></span>
            <textarea
              formControlName="desc"
              type="text"
              placeholder="Введите описание блюда">
            </textarea>
          </div>

          <small
            *ngIf="newDishForm.controls['desc'].dirty &&
                    newDishForm.hasError('required', 'desc')"
            class="text-danger">
            {{'это обязательное поле'}}
          </small>

        </div>



<!--        <ion-item style="&#45;&#45;padding-start: 0px;padding-bottom: 15px;">-->
<!--          <ion-label position="floating">Введите описание блюда</ion-label>-->
<!--          <ion-textarea-->
<!--            formControlName="desc"-->
<!--            type="text"-->
<!--            placeholder="Описание"-->
<!--            [autoGrow]="true"-->
<!--          >-->
<!--          </ion-textarea>-->
<!--          <small-->
<!--            *ngIf="newDishForm.invalid"-->
<!--            class="text-danger">-->
<!--            {{errorText}}-->
<!--          </small>-->
<!--        </ion-item>-->

      </form>

      <div class="bottom_btn">

        <button
          (click)="onSubmit()"
          [disabled]="newDishForm.invalid"
          type="submit"
          class="main-btn"
        >
          Создать
        </button>

      </div>
    </div>

    <div class="empty-dishes" *ngIf="dishWasCreated">
      <div class="empty-dishes__info">
        <div class="info-text">
          Отлично, рецепт добавлен! Вы можете добавить новый рецепт
        </div>
        <ion-icon class="createBtn" (click)="createNextRecipe()" name="add-circle-outline"></ion-icon>
      </div>
    </div>

  </div>



</ion-content>

<div class="cropper" *ngIf="isFileLoad">
  <div class="cropper__image">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [imageBase64]="imageChangedBase64"
      [maintainAspectRatio]="false"
      (loadImageFailed)="loadImageFailed()"
      (imageCropped)="imageCropped($event)"
      [roundCropper]="false"
      [hideResizeSquares]="false"
      [backgroundColor]="'#000'"
    ></image-cropper>
  </div>

</div>

<ion-icon *ngIf="isFileLoad" class="save-img" name="checkmark-circle-outline" (click)="saveNewImg(cropperImageReady)"></ion-icon>
