<ion-header>
  <div class="regular-header">
    <div class="regular-header-wrapper">
      <label class="search" [class.active]="searchActive">
        <input
          #searchInput
          type="text"
          name="search"
          placeholder="Поиск"
        >
      </label>
      <ion-icon *ngIf="back" name="arrow-back-circle-outline" class="backBtn" (click)="navigationService.goToBack()"></ion-icon>
      <ion-icon *ngIf="profile" class="profileBtn" (click)="goTo('profile/main')" [class.homePage]="homePage" name="person-outline"></ion-icon>
      <ion-icon *ngIf="search" [class.open]="searchActive" class="searchBtn" (click)="searchToggle()" name="search-outline"></ion-icon>
      <ion-icon *ngIf="dice" class="diceBtn" (click)="goTo('blank')" name="dice-outline"></ion-icon>
      <ion-icon *ngIf="create" class="createBtn" (click)="goTo('create')" name="add-circle-outline"></ion-icon>
      <h3 *ngIf="title">{{title}}</h3>
    </div>
  </div>
</ion-header>
