<ion-header>
  <div class="regular-header">
    <div class="regular-header-wrapper">
      <label class="search" [class.active]="searchActive">
        <input
          #searchInput
          [(ngModel)]="searchService.searchText"
          type="text"
          name="search"
          autocomplete="off"
          (keydown)="searchService.searchValue()"
          placeholder="Поиск"
        >
      </label>
      <ion-icon *ngIf="back" name="arrow-back-circle-outline" class="backBtn" (click)="navigationService.goToBack()"></ion-icon>
      <div *ngIf="profile" class="profileBtn" (click)="goTo('profile/main')" [class.homePage]="homePage">
        <img *ngIf="!userService.user?.avatar" [src]="'assets/icons/profile_avatar.svg'" alt="">
        <img *ngIf="userService.user?.avatar" [src]="userService.user.avatar" [class.round]="userService.user?.viewsRoundAvatar === '1'" alt="">
      </div>

      <h3 *ngIf="title">{{title}}</h3>

      <ion-icon *ngIf="search" [class.open]="searchActive" class="searchBtn" (click)="searchToggle()" name="search-outline"></ion-icon>
      <ion-icon *ngIf="dice" class="diceBtn" (click)="goTo('blank')" name="dice-outline"></ion-icon>
      <ion-icon *ngIf="create" class="createBtn" (click)="goTo('profile/recipes/create')" name="add-circle-outline"></ion-icon>
      <ion-icon *ngIf="filter" class="filterBtn" (click)="goTo('blank')" name="options-outline"></ion-icon>

    </div>
  </div>
</ion-header>
